Answers

Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [1]:
#String 
string = "Universe"
type(string)

str

In [2]:
#list 
list_1 = [1,2,3,5,7]
type(list_1)

list

In [3]:
#float 
float_1 = 1.5 
type(float_1)

float

In [4]:
#tuple 
tuple_1 = (2,4,6,8)
type(tuple_1)

tuple

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 
What will be the data type of the above given variable

In [5]:
#(i)
var1 = ''
type(var1)

str

In [6]:
var2 = '[DS,ML,Python]'
type(var2)

str

In [7]:
var3 = ['DS','ML','Python'] 
type(var3)

list

In [8]:
var4 = 1 
type(var4)

int

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [9]:
25/5

5.0

In [10]:
25%5

0

In [11]:
33//2

16

In [12]:
10**2

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [13]:
list_2 = ["abc",1.3,4,True,2,False,6,2.4,"Code","Repeat"]

for n in list_2:
    print(n,end=" : ")
    print(type(n))

abc : <class 'str'>
1.3 : <class 'float'>
4 : <class 'int'>
True : <class 'bool'>
2 : <class 'int'>
False : <class 'bool'>
6 : <class 'int'>
2.4 : <class 'float'>
Code : <class 'str'>
Repeat : <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [26]:
A = 10 
B = 2
c = 0 
while A%B == 0:
    A /= B 
    c +=1
print(f'{B} is divisible by 10 , {c} times')

2 is divisible by 10 , 1 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [20]:
numbers = range(1,26)
for n in numbers:
    if n%3 == 0:
        print(n,"Divisible by 3")
    else:
        print(n,"Not Divisible by 3")

1 Not Divisible by 3
2 Not Divisible by 3
3 Divisible by 3
4 Not Divisible by 3
5 Not Divisible by 3
6 Divisible by 3
7 Not Divisible by 3
8 Not Divisible by 3
9 Divisible by 3
10 Not Divisible by 3
11 Not Divisible by 3
12 Divisible by 3
13 Not Divisible by 3
14 Not Divisible by 3
15 Divisible by 3
16 Not Divisible by 3
17 Not Divisible by 3
18 Divisible by 3
19 Not Divisible by 3
20 Not Divisible by 3
21 Divisible by 3
22 Not Divisible by 3
23 Not Divisible by 3
24 Divisible by 3
25 Not Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

**Mutable Data types : 
The data types which can be altered or changed are called Mutable Data types**

In [24]:
a = [5,6,"Red",22]
a[2] = "Blue"
a.append("green")
print(a)

[5, 6, 'Blue', 22, 'green']

The above code runs because lists, sets, dictionaries are mutable data types

**Immutable Data types : 
 The data types which cannot be altered or changed are called Immutable Data Types**

In [23]:
a = "Spring"
a[2] = "h"
print(a)

TypeError: 'str' object does not support item assignment

 It throws an error as tuples and strings are immutable data types